* {
    box-sizing: border-box;

}
body {
    background-color: hwb(0 48% 0%);
    background-image: url(mobile_image.png);
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
main {
    width: 70%;
    margin: auto;
    display: table;
    clear: both;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h6 {
    color: hsl(246, 25%, 77%);
    font-weight: 400;
}
h1 {
    color: white;
    font-weight: 700;
}
h5 {
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 10px 70px 10px 50px;
    border: none;
    border-radius: 3px;
}
p {
    color: hsl(246, 25%, 77%);
    font-weight: 400;
}
td {
    padding: 8px 5px;

}

.right_content {
    padding: 2em;
    color: white;
    flex: 30%;
    flex-wrap: wrap;
}
.left_content {
    padding: 2em;
    flex: 80%;

}
.boat {
    background-color: white;
    width: auto;
    height: 350px;
    padding: 5px 0px 10px 10px;
    border-radius: 10px;

}

b {
    color: hsl(246, 25%, 77%);
    font-size: 400;
}
strong {
    color: hsl(0, 100%, 74%);
}

button {
    background-color: hsl(154, 59%, 51%);
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 10px 80px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 10px 5px;
    cursor: pointer;
    transition-duration: 300ms;
}
